.snip-preview {
    border: 3px solid yellow;
    height: 120px;

    margin: 15px;
    padding: 10px;

    color: #ADB5BD;
    font-family: monospace !important;

    display: flex;
    flex-direction: row;
}

.snip-preview-logo {
    border: 2px solid green;
    height: 90px;
    width: 90px;
    margin-right: 25px;
}

.snip-preview-content {
    border: 3px solid aqua;
    width: calc(100% - 90px);
    text-align: left;
}

.snip-preview-title {
    font-weight: bold;
    font-size: 22px;
    margin: 5px 10px 5px 0;
}